@import "@/global.scss";

.guess {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-family: "PT-Sans", sans-serif;
  font-weight: bold;
  color: $primary;
}

.button-guess {
  margin-top: 1rem;
}
