@import "@/global.scss";

.guess {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.guess hr {
  margin-top: 1rem;
}

.title {
  font-family: "PT-Sans", sans-serif;
  font-weight: bold;
  color: $primary;
}

.guess-inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-family: "PT-Sans", sans-serif;
  color: $primary-light;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.button-guess {
  margin-top: 1rem;
}
