@import "@/global.scss";

header {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  color: $primary;
  margin-top: 2rem;
}

header .icon {
  display: flex;
  align-items: center;
  color: $primary;
  border: 2px solid $primary;
  border-radius: 0.25rem;
  padding: 0.125rem;
}

header .switch {
  margin-top: 0;
  display: flex;
  align-items: center;
}
