@import "@/global.scss";

header {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header .icon {
  display: flex;
  align-items: center;
  color: $primary;
  border: 2px solid $primary;
  border-radius: 0.25rem;
  padding: 0.125rem;
}

header .switch {
  margin-top: 0;
  display: flex;
  align-items: center;
}

header .game-counter {
  display: flex;
  gap: 0.5rem;
}

header .game-counter .unit {
  min-height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  line-height: 1.9rem;
}

header .game-counter .unit.on {
  background-color: $primary;
}

header .game-counter .unit.off {
  background-color: $secondary;
}

header .main-button.back-to-daily {
  min-height: 40px;
}

header .main-button.back-to-daily .v-btn__content {
  gap: 0.5rem;
}

@media (max-width: 375px) {
  header {
    flex-direction: column;
  }
}
